@import url('./variable.css');

html,
body,
#root {
    overflow-x: hidden;
    max-width: 100vw;
}

.homeBgColor {
    background-color: var(--primary-color);
}
.textSecondaryColor {
    color: var(--secondary-color);
}
.buttonBackground {
    background-color: var(--secondary-color);
}
.mainFont {
    font-family: var(--font-family);
}